{% extends "layout.html" %} {% block content %}

<style>
  .swiper {
    width: 100%;
    margin: auto;
    overflow: visible;
  }

  .swiper-slide {
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide.swiper-slide-active,
  .swiper-slide.swiper-slide-next,
  .swiper-slide.swiper-slide-prev {
    visibility: visible;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
    top: 0;
    padding: 100px 20px;
    margin: 0;
  }
  .swiper-pagination-bullet {
    background-color: white;
  }
  .swiper-pagination {
    z-index: 0;
    text-align: right;
    padding-top: 250px;
  }
</style>

<div class="row">
  <!--------Section 1--------->

  <div class="col-12 col-lg-12 col-xl-6" style="margin-top: 5px;">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
      style="margin-top: 15px;"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="5"
          aria-label="Slide 6"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          {{suggest_program[0]|suggest_program_carousel_filter()|safe()}}
        </div>
        {% for program in suggest_program[1:6] %}

        <div class="carousel-item">
          {{program|suggest_program_carousel_filter()|safe()}}
        </div>
        {%endfor%}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="col-12 col-lg-12 col-xl-6" style="margin-top: 10px;">
    <div class="row">
      {% for program in suggest_program[6:10] %}
      <div class="col-6 col-lg-6 movie__cover" style="margin-top: 5px;">
        {{program|suggest_program_filter()|safe()}}
      </div>
      {%endfor%}
    </div>
  </div>

  <!--------End Section 1--------->

  <!--- Google Adsense --->
  <div class="col-12 text-center google-ads">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1334778057140315"
      crossorigin="anonymous"
    ></script>
    <!-- soiflix main page -->
    <ins
      class="adsbygoogle"
      style="display: inline-block; width: 728px; height: 90px;"
      data-ad-client="ca-pub-1334778057140315"
      data-ad-slot="8411748038"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <!--- End Google Adsense --->
  {{trending_content|swiper_template("ซีรี่ส์ยอดนิยม", "ยอดนิยม",
  "trending_content")|safe()}}
  {{new_content|swiper_template_new_release("ซีรี่ส์มาใหม่", "new-content",
  "new-content")|safe()}}
  {{new_ep|swiper_template_new_release("ซีรี่ส์ตอนล่าสุด", "new-ep",
  "new-ep")|safe()}}

  <!--- Google Adsense --->
  <div class="col-12 text-center google-ads">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1334778057140315"
      crossorigin="anonymous"
    ></script>
    <!-- soiflix main page -->
    <ins
      class="adsbygoogle"
      style="display: inline-block; width: 728px; height: 90px;"
      data-ad-client="ca-pub-1334778057140315"
      data-ad-slot="8411748038"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <!--- End Google Adsense --->
  {{jp_animes|swiper_template("อนิเมะญี่ปุ่น", "อนิเมะญี่ปุ่น",
  "jp-anime")|safe()}} {{chinese_series|swiper_template("ซีรี่ส์จีน",
  "ซีรี่ส์จีน", "chinese_series")|safe()}}

  <!--- Google Adsense --->
  <div class="col-12 text-center google-ads">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1334778057140315"
      crossorigin="anonymous"
    ></script>
    <!-- soiflix main page -->
    <ins
      class="adsbygoogle"
      style="display: inline-block; width: 728px; height: 90px;"
      data-ad-client="ca-pub-1334778057140315"
      data-ad-slot="8411748038"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <!--- End Google Adsense --->

  {{th_dub_series|swiper_template("ซีรี่ส์พากย์ไทย", "พากย์ไทย",
  "th_dub_series")|safe()}} {{classic_series|swiper_template("ซีรี่ส์คลาสสิค",
  "คลาสสิค", "classic_series")|safe()}}

  <!--- Google Adsense --->
  <div class="col-12 text-center google-ads">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1334778057140315"
      crossorigin="anonymous"
    ></script>
    <!-- soiflix main page -->
    <ins
      class="adsbygoogle"
      style="display: inline-block; width: 728px; height: 90px;"
      data-ad-client="ca-pub-1334778057140315"
      data-ad-slot="8411748038"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <!--- End Google Adsense --->
  {{fantasy_series|swiper_template("ซีรี่ส์แฟนตาซี", "แฟนตาซี",
  "fantasy_series")|safe()}} {{romance_series|swiper_template("ซีรี่ส์โรแมนติก",
  "โรแมนติก", "romance_series")|safe()}}

  <!--- Google Adsense --->
  <div class="col-12 text-center google-ads">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1334778057140315"
      crossorigin="anonymous"
    ></script>
    <!-- soiflix main page -->
    <ins
      class="adsbygoogle"
      style="display: inline-block; width: 728px; height: 90px;"
      data-ad-client="ca-pub-1334778057140315"
      data-ad-slot="8411748038"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <!--- End Google Adsense --->
  {{history_series|swiper_template("ซีรี่ส์ย้อนยุค", "ย้อนยุค",
  "history_series")|safe()}}
  {{comedy_series|swiper_template("ซีรี่ส์ตลกคอมเมดี้", "คอมเมดี้",
  "comedy_series")|safe()}}

  <!--- Google Adsense --->
  <div class="col-12 text-center google-ads">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1334778057140315"
      crossorigin="anonymous"
    ></script>
    <!-- soiflix main page -->
    <ins
      class="adsbygoogle"
      style="display: inline-block; width: 728px; height: 90px;"
      data-ad-client="ca-pub-1334778057140315"
      data-ad-slot="8411748038"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <!--- End Google Adsense --->
</div>
{% endblock %}
